<%provide(:title, "Home")%>
<div class="center jumbotron">
  <h1>Welcome to the Event Registration App</h1>

  <h2>
		To use this, simply click "Create New Event" and you will be on your way!
  </h2>
  <%= link_to "Create Event", create_event_path, class: "btn btn-lg btn-primary" %>
</div>

