<%= form_for(@attendee) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.email_field :email, placeholder: "Enter your email to check in " %>
  </div>
  <%= f.submit "Check In", class: "btn btn-primary" %>
<% end %>

