<% if attendee.valid? %>
	<li>
		
		<span class="email"><%= attendee.email %></span>
		checked in
		<span class="timestamp">
			<% time = attendee.created_at %>
			on
			<%= time_tag(time) %>

		</span>
		

	</li>
<% end %>
