<li>
	"<%= event.name %>" at <%= event.location %>
	on <%= event.date.strftime("%m/%d/%Y") %>
	at <%= event.time.strftime("%H:%M") %>.
	 | <%= link_to "Cancel Event", event, method: :delete,
																	date: { confirm: "You sure?" } %>
	 | <%= link_to "Add/See Attendees", event, method: :get %>
	
</li>

