<%= provide(:title, @event.name) %>
<h2> Your event, "<%= @event.name %>", will take place at <%= @event.location %>
	on <%= @event.date.strftime("%m/%d/%Y") %> at <%= @event.time.strftime("%H:%M") %>.
</h2>
<div class="row">
	<aside class = "col-md-4">
		<section class="attendee_form">
			<%= render 'shared/attendee_form' %>
		</section>
	</aside>
  <div class="col-md-8">
    <% if @event.attendees.any? %>
      <h3>Attendees (<%= @event.attendees.count %>)</h3>
      <ul class="attendees">
        <%= render @attendees %>
      </ul>
    <% end %>
  </div>
</div>

