@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


.events {
	list-style: none;
	margin: 0;
  li {
    overflow: auto;
		font-size: 20px;
    padding: 20px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
