<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Event Registration ", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path%></li>
        <li><%= link_to "Create Event",   create_event_path %></li>
				<li><%= link_to "Manage Events", manage_event_path %></li>
      </ul>
    </nav>
  </div>
</header>

